http_interactions:
- request:
    method: POST
    uri: https://api-free.deepl.com/v2/translate
    body:
      string: text=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20document%20SYSTEM%20%22CommonMark.dtd%22%3E%0A%3Cdocument%20xmlns%3D%22http%3A%2F%2Fcommonmark.org%2Fxml%2F1.0%22%3E%0A%20%20%3Cheading%20level%3D%222%22%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3EPackage%20name%20and%20metadata%3C%2Ftext%3E%0A%20%20%3C%2Fheading%3E%0A%20%20%3Cnon_code_block%20xml%3Aspace%3D%22preserve%22%20language%3D%22block%22%20name%3D%22%22%20type%3D%22%26quot%3Bsummaryblock%26quot%3B%22%3EThis%20is%20the%20summary%20of%20the%20chapter.%0A%3C%2Fnon_code_block%3E%0A%3C%2Fdocument%3E%0A&source_lang=EN&target_lang=ES&tag_handling=xml&non_splitting_tags=text%2Csoftbreak&formality=less&ignore_tags=code%2Ccode_block%2Ccurly%2Cmath%2Cnotranslate%2Cfence
  response:
    status: 200
    headers:
      content-type: application/json
      x-trace-id: 114fd5e162b5497e8f69ab48391341b3
    body:
      string: '{"translations":[{"detected_source_language":"EN","text":"<?xml version=\"1.0\"
        encoding=\"UTF-8\"?>\n<!DOCTYPE document SYSTEM \"CommonMark.dtd\">\n<document
        xmlns=\"http://commonmark.org/xml/1.0\">\n  <heading level=\"2\">\n   <text
        xml:space=\"preserve\">Nombre del paquete y metadatos</text>\n  </heading>\n  <non_code_block
        xml:space=\"preserve\" language=\"block\" name=\"\" type=\"&quot;summaryblock&quot;\">Este
        es el resumen del capítulo.\n</non_code_block>\n</document>\n"}]}'
  recorded_at: 2026-01-26 12:17:41
recorded_with: VCR-vcr/2.1.1.91
