http_interactions:
- request:
    method: POST
    uri: https://api-free.deepl.com/v2/translate
    body:
      string: text=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20document%20SYSTEM%20%22CommonMark.dtd%22%3E%0A%3Cdocument%20xmlns%3D%22http%3A%2F%2Fcommonmark.org%2Fxml%2F1.0%22%3E%0A%20%20%3Cparagraph%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3EWickham%20says%20blah%20%3C%2Ftext%3E%0A%20%20%20%20%20%20%3Csquary%3E%0A%20%20%20%20%20%20%20%20%3Cnotranslate%3E%40wickham24%3C%2Fnotranslate%3E%0A%20%20%20%20%20%20%3C%2Fsquary%3E%0A%20%20%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3E%20and%20%3C%2Ftext%3E%0A%20%20%20%20%20%20%3Csquary%3E%0A%20%20%20%20%20%20%20%20%3Cnotranslate%3E%40g%3C%2Fnotranslate%3E%0A%20%20%20%20%20%20%3C%2Fsquary%3E%0A%20%20%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3E.%20S%3C%2Ftext%3E%0A%20%20%20%20%3C%2Ftext%3E%0A%20%20%3C%2Fparagraph%3E%0A%3C%2Fdocument%3E%0A&source_lang=en&target_lang=es&tag_handling=xml&non_splitting_tags=text%2Csoftbreak&formality=default&ignore_tags=code%2Ccode_block%2Ccurly%2Cmath%2Cnotranslate%2Cfence
  response:
    status: 200
    headers:
      content-type: application/json
      x-trace-id: 5743e116496143d194af338c0d76a1a1
    body:
      string: '{"translations":[{"text":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE
        document SYSTEM \"CommonMark.dtd\">\n<document xmlns=\"http://commonmark.org/xml/1.0\">\n  <paragraph><text
        xml:space=\"preserve\">\n    \n     <text xml:space=\"preserve\">Wickham dice
        «bla, bla» \n </text>    <squary>\n        <notranslate>@wickham24</notranslate>\n      </squary>
        \n <text xml:space=\"preserve\">      y \n </text>    <squary>\n        <notranslate>@g</notranslate>\n      </squary>
        \n <text xml:space=\"preserve\">     . S</text>\n    \n </text></paragraph>\n</document>\n","detected_source_language":"EN","tag_handling_version":"v1"}]}'
  recorded_at: 2026-07-15 14:46:52
recorded_with: VCR-vcr/2.1.1.91
