http_interactions:
- request:
    method: POST
    uri: https://api-free.deepl.com/v2/translate
    body:
      string: text=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20document%20SYSTEM%20%22CommonMark.dtd%22%3E%0A%3Cdocument%20xmlns%3D%22http%3A%2F%2Fcommonmark.org%2Fxml%2F1.0%22%3E%0A%20%20%3Cparagraph%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%2F%3E%0A%20%20%20%20%3Cmath%20asis%3D%22true%22%20math%3D%22true%22%3E%24a_%7Bij%7D%24%3C%2Fmath%3E%0A%20%20%20%20%3Ctext%2F%3E%0A%20%20%3C%2Fparagraph%3E%0A%3C%2Fdocument%3E%0A&source_lang=FR&target_lang=EN-US&tag_handling=xml&non_splitting_tags=text%2Csoftbreak&formality=default&ignore_tags=code%2Ccode_block%2Ccurly%2Cmath%2Cnotranslate%2Cfence
  response:
    status: 200
    headers:
      content-type: application/json
      x-trace-id: 7689801ca5e44b5db3ada2c5d76bdd00
    body:
      string: '{"translations":[{"detected_source_language":"FR","text":"<?xml version=\"1.0\"
        encoding=\"UTF-8\"?>\n<!DOCTYPE document SYSTEM \"CommonMark.dtd\">\n<document
        xmlns=\"http://commonmark.org/xml/1.0\">\n  <paragraph>\n    <text xml:space=\"preserve\"/>\n    <math
        asis=\"true\" math=\"true\">$a_{ij}$</math>\n    <text/>\n  </paragraph>\n</document>\n"}]}'
  recorded_at: 2026-01-26 12:17:42
recorded_with: VCR-vcr/2.1.1.91
