http_interactions:
- request:
    method: POST
    uri: https://api-free.deepl.com/v2/translate
    body:
      string: text=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20document%20SYSTEM%20%22CommonMark.dtd%22%3E%0A%3Cdocument%20xmlns%3D%22http%3A%2F%2Fcommonmark.org%2Fxml%2F1.0%22%3E%0A%20%20%3Ccode_block%20info%3D%22r%22%20xml%3Aspace%3D%22preserve%22%20name%3D%22%22%3Ecat%28paste0%28%22%5B%22%2C%20guest_editors%24name%2C%20%22%5D%28https%3A%2F%2Fgithub.com%2F%22%2C%20guest_editors%24github%2C%20%22%29%22%2C%20collapse%20%3D%20%22%20%5CU00B7%20%22%29%29%0A%3C%2Fcode_block%3E%0A%3C%2Fdocument%3E%0A&source_lang=EN&target_lang=ES&tag_handling=xml&non_splitting_tags=text%2Csoftbreak&formality=less&ignore_tags=code%2Ccode_block%2Ccurly%2Cmath%2Cnotranslate%2Cfence
  response:
    status: 200
    headers:
      content-type: application/json
      x-trace-id: e215c93a896545b185fde34ca36af071
    body:
      string: '{"translations":[{"detected_source_language":"EN","text":"<?xml version=\"1.0\"
        encoding=\"UTF-8\"?>\n<!DOCTYPE document SYSTEM \"CommonMark.dtd\">\n<document
        xmlns=\"http://commonmark.org/xml/1.0\">\n  <code_block info=\"r\" xml:space=\"preserve\"
        name=\"\">cat(paste0(\"[\", guest_editors$name, \"](https://github.com/\",
        guest_editors$github, \")\", collapse = \" \\U00B7 \"))\n</code_block>\n</document>\n"}]}'
  recorded_at: 2026-01-26 12:17:41
recorded_with: VCR-vcr/2.1.1.91
