http_interactions:
- request:
    method: POST
    uri: https://api-free.deepl.com/v2/translate
    body:
      string: text=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20document%20SYSTEM%20%22CommonMark.dtd%22%3E%0A%3Cdocument%20xmlns%3D%22http%3A%2F%2Fcommonmark.org%2Fxml%2F1.0%22%3E%0A%20%20%3Cparagraph%3E%0A%20%20%20%20%3Cimage%20destination%3D%22images%2Flocalization_concept_map.png%22%20title%3D%22%22%3E%0A%20%20%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3ErOpenSci%20Localizacion%20Process%3C%2Ftext%3E%0A%20%20%20%20%3C%2Fimage%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%2F%3E%0A%20%20%20%20%3Ccurly%20curly%3D%22true%22%20alt%3D%22Localization%20process%20cicle%22%3E%7Bfig-alt%3D%22Localization%20process%20cicle%22%7D%3C%2Fcurly%3E%0A%20%20%20%20%3Ctext%2F%3E%0A%20%20%3C%2Fparagraph%3E%0A%3C%2Fdocument%3E%0A&source_lang=EN&target_lang=ES&tag_handling=xml&non_splitting_tags=text%2Csoftbreak&formality=less&ignore_tags=code%2Ccode_block%2Ccurly%2Cmath%2Cnotranslate%2Cfence
  response:
    status: 200
    headers:
      content-type: application/json
      x-trace-id: c09904fc58934242b1546ab80aaa60a1
    body:
      string: '{"translations":[{"detected_source_language":"EN","text":"<?xml version=\"1.0\"
        encoding=\"UTF-8\"?>\n<!DOCTYPE document SYSTEM \"CommonMark.dtd\">\n<document
        xmlns=\"http://commonmark.org/xml/1.0\">\n  <paragraph>\n   <image destination=\"images/localization_concept_map.png\"
        title=\"\">\n     <text xml:space=\"preserve\">Proceso de Localización de
        rOpenSci</text>\n   </image>\n   <text xml:space=\"preserve\"/>\n   <curly
        curly=\"true\" alt=\"Localization process cicle\">{fig-alt=\"Localization
        process cicle\"}</curly>\n   <text/>\n  </paragraph>\n</document>\n"}]}'
  recorded_at: 2026-01-26 12:17:41
- request:
    method: POST
    uri: https://api-free.deepl.com/v2/translate
    body:
      string: text=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20document%20SYSTEM%20%22CommonMark.dtd%22%3E%0A%3Cdocument%20xmlns%3D%22http%3A%2F%2Fcommonmark.org%2Fxml%2F1.0%22%3E%0A%20%20%3Cparagraph%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3ELocalization%20process%20cicle%3C%2Ftext%3E%0A%20%20%3C%2Fparagraph%3E%0A%3C%2Fdocument%3E%0A&source_lang=EN&target_lang=ES&tag_handling=xml&non_splitting_tags=text%2Csoftbreak&formality=less&ignore_tags=code%2Ccode_block%2Ccurly%2Cmath%2Cnotranslate%2Cfence
  response:
    status: 200
    headers:
      content-type: application/json
      x-trace-id: aa7617b5b63b4c298b101162fab860c4
    body:
      string: '{"translations":[{"detected_source_language":"EN","text":"<?xml version=\"1.0\"
        encoding=\"UTF-8\"?>\n<!DOCTYPE document SYSTEM \"CommonMark.dtd\">\n<document
        xmlns=\"http://commonmark.org/xml/1.0\">\n  <paragraph>\n   <text xml:space=\"preserve\">Ciclo
        del proceso de localización</text>\n  </paragraph>\n</document>\n"}]}'
  recorded_at: 2026-01-26 12:17:41
recorded_with: VCR-vcr/2.1.1.91
