http_interactions:
- request:
    method: POST
    uri: https://api-free.deepl.com/v2/translate
    body:
      string: text=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20document%20SYSTEM%20%22CommonMark.dtd%22%3E%0A%3Cdocument%20xmlns%3D%22http%3A%2F%2Fcommonmark.org%2Fxml%2F1.0%22%3E%0A%20%20%3Cparagraph%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3EWickham%20says%20blah%20%3C%2Ftext%3E%0A%20%20%20%20%20%20%3Csquary%3E-%40wickham%2B2015%23%3C%2Fsquary%3E%0A%20%20%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3E%20and%20he%20says%20other%20things%3C%2Ftext%3E%0A%20%20%20%20%20%20%3Csquary%3E%0A%20%20%20%20%20%20%20%20%3Cnotranslate%3E%5Efootnote1%3C%2Fnotranslate%3E%0A%20%20%20%20%20%20%3C%2Fsquary%3E%0A%20%20%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3E.%3C%2Ftext%3E%0A%20%20%20%20%3C%2Ftext%3E%0A%20%20%20%20%3Csoftbreak%2F%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3EBlah%20Blah%20%3C%2Ftext%3E%0A%20%20%20%20%20%20%3Csquary%3Esee%20%3Cnotranslate%3E%40knuth1984%3C%2Fnotranslate%3E%2C%20pp.%2033-35%3B%20also%20%3Cnotranslate%3E%40wickham2015%3C%2Fnotranslate%3E%2C%20chap.%201%3C%2Fsquary%3E%0A%20%20%20%20%3C%2Ftext%3E%0A%20%20%3C%2Fparagraph%3E%0A%3C%2Fdocument%3E%0A&source_lang=en&target_lang=es&tag_handling=xml&non_splitting_tags=text%2Csoftbreak&formality=default&ignore_tags=code%2Ccode_block%2Ccurly%2Cmath%2Cnotranslate%2Cfence
  response:
    status: 200
    headers:
      content-type: application/json
      x-trace-id: 417145d5b9b04cbf889fa3fbf36406f9
    body:
      string: '{"translations":[{"text":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<!DOCTYPE
        document SYSTEM \"CommonMark.dtd\">\n<document xmlns=\"http://commonmark.org/xml/1.0\">\n  <paragraph><text
        xml:space=\"preserve\">\n    \n     <text xml:space=\"preserve\">Wickham dice
        bla, bla \n </text> <squary>     -@wickham+2015#</squary>\n <text xml:space=\"preserve\">      y
        dice otras cosas</text>\n     <squary>\n        <notranslate>^footnote1</notranslate>\n      </squary>
        \n <text xml:space=\"preserve\">     .</text> </text> <text xml:space=\"preserve\">\n    \n   </text>
        <softbreak/><text xml:space=\"preserve\"> \n    \n     <text xml:space=\"preserve\">Bla,
        bla \n </text> <squary>     véase <notranslate>@knuth1984</notranslate>, pp.
        33-35; también <notranslate>@wickham2015</notranslate>, cap. 1</squary>\n    \n
        </text></paragraph>\n</document>\n","detected_source_language":"EN","tag_handling_version":"v1"}]}'
  recorded_at: 2026-07-15 13:50:33
recorded_with: VCR-vcr/2.1.1.91
