http_interactions:
- request:
    method: GET
    uri: https://api-free.deepl.com/v2/glossaries
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-trace-id: d087e8b051d8484fa970fee280a0cd6f
    body:
      string: '{"glossaries":[{"glossary_id":"42","name":"glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2022-10-18T13:20:13.807055Z","entry_count":46}]}'
  recorded_at: 2026-01-26 12:16:20
recorded_with: VCR-vcr/2.1.1.91
