http_interactions:
- request:
    method: GET
    uri: https://api-free.deepl.com/v2/glossaries
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-trace-id: 1af67d61b37f4927b9bca2bcabae7e4d
    body:
      string: '{"glossaries":[{"glossary_id":"dd812f0e-a597-43d5-b661-52f5f4de19c9","name":"glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2022-10-18T13:20:13.807055Z","entry_count":46},{"glossary_id":"dd812f0e-a597-43d5-b661-52f5f4de19c9","name":"glosario","ready":true,"source_lang":"en","target_lang":"es","creation_time":"2022-10-18T13:20:13.807055Z","entry_count":46}]}'
  recorded_at: 2026-01-26 12:16:20
recorded_with: VCR-vcr/2.1.1.91
