http_interactions:
- request:
    method: GET
    uri: https://api-free.deepl.com/v2/languages?type=target
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-trace-id: 637ce744b4c541b48460cc574f91fb03
    body:
      string: '[{"language":"AR","name":"Arabic","supports_formality":false},{"language":"BG","name":"Bulgarian","supports_formality":false},{"language":"CS","name":"Czech","supports_formality":false},{"language":"DA","name":"Danish","supports_formality":false},{"language":"DE","name":"German","supports_formality":true},{"language":"EL","name":"Greek","supports_formality":false},{"language":"EN-GB","name":"English
        (British)","supports_formality":false},{"language":"EN-US","name":"English
        (American)","supports_formality":false},{"language":"ES","nam[...]
- request:
    method: GET
    uri: https://api-free.deepl.com/v2/languages?type=source
  response:
    status: 200
    headers:
      content-type: application/json; charset=utf-8
      x-trace-id: 4f801bab9914403bb29026ef5920353d
    body:
      string: '[{"language":"AR","name":"Arabic"},{"language":"BG","name":"Bulgarian"},{"language":"CS","name":"Czech"},{"language":"DA","name":"Danish"},{"language":"DE","name":"German"},{"language":"EL","name":"Greek"},{"language":"EN","name":"English"},{"language":"ES","name":"Spanish"},{"language":"ET","name":"Estonian"},{"language":"FI","name":"Finnish"},{"language":"FR","name":"French"},{"language":"HE","name":"Hebrew"},{"language":"HU","name":"Hungarian"},{"language":"ID","name":"Indonesian"},{"language":"IT","name":"Italian"},{"language":"JA","name":"Japanese"},{"language":"KO","name":"Korean"},{"language":"LT","name":"Lithuanian"},{"language":"LV","name":"Latvian"},{"language":"NB","name":"Norwegian"},{"language":"NL","name":"Dutch"},{"language":"PL","name":"Polish"},{"language":"PT","name":"Portuguese"},{"language":"RO","name":"Romanian"},{"language":"RU","name":"Russian"},{"language":"SK","name":"Slovak"},{"language":"SL","name":"Slovenian"},{"language":"SV","name":"Swedish"},{"language":"TH","name":"Thai"},{"language":"TR","name":"Turkish"},{"language":"UK","name":"Ukrainian"},{"language":"VI","name":"Vietnamese"},{"language":"ZH","name":"Chinese"}]'
  recorded_at: 2026-01-26 12:17:12
- request:
    method: POST
    uri: https://api-free.deepl.com/v2/translate
    body:
      string: text=%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3C%21DOCTYPE%20document%20SYSTEM%20%22CommonMark.dtd%22%3E%0A%3Cdocument%20xmlns%3D%22http%3A%2F%2Fcommonmark.org%2Fxml%2F1.0%22%3E%0A%20%20%3Cparagraph%3E%0A%20%20%20%20%3Ctext%20xml%3Aspace%3D%22preserve%22%3Ealt%3D%22very%20nice%22%3C%2Ftext%3E%0A%20%20%3C%2Fparagraph%3E%0A%3C%2Fdocument%3E%0A&source_lang=EN&target_lang=FR&tag_handling=xml&non_splitting_tags=text%2Csoftbreak&formality=less&ignore_tags=code%2Ccode_block%2Ccurly%2Cmath%2Cnotranslate%2Cfence
  response:
    status: 200
    headers:
      content-type: application/json
      x-trace-id: 91b6a4981ea7487d817cf38b8c2b3a2c
    body:
      string: '{"translations":[{"detected_source_language":"EN","text":"<?xml version=\"1.0\"
        encoding=\"UTF-8\"?>\n<!DOCTYPE document SYSTEM \"CommonMark.dtd\">\n<document
        xmlns=\"http://commonmark.org/xml/1.0\">\n  <paragraph>\n   <text xml:space=\"preserve\">alt=\"very
        nice\"</text>\n  </paragraph>\n</document>\n"}]}'
  recorded_at: 2026-01-26 12:17:12
[...]
